body {
    background-color: hsl(47, 88%, 63%);
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 400px;
    margin: 5px auto;
    border-radius: 20px;
    border:1px solid black;
    box-shadow: 7px 7px;
    padding: 18px;
    font-family: Figtree;
}


.image {
    width: 360px;
    border-radius: 10%;
    padding: 2.5%;
    padding:0px 10px auto;
}

p {
    font-weight: 500;
}

.bold, h1 {
    font-weight: 800;
}

.bold {
    background-color: hsl(47, 88%, 63%);
    padding: 5px;
    width: 75px;
    border-radius: 5px;
    text-align: center;
}

.foot {
    font-weight: 800;
    margin: 30px 10px;
}

img {
    margin: 9px;
    width: 58px;
}

.end {
    display: flex;
}
